.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none}

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul {
    padding: 0;
    margin: 0;
    }
    
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

}

.flex {
    display: flex;
    align-items: center;
}

a {text-decoration: none;}

